@use 'Navbar';
$main-background: rgb(222,242,241);
$main-color: rgb(23,36,42);

.main-section {
    background-color: $main-background;
    color: $main-color;
    height: 100vh - Navbar.$height;
    width: 100vw;
}