$width: 40vw;

.results-section {
    width: $width;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    background-color: white;
    border: 1px solid black;
}

.keys-column {
    text-align: left;
}

.values-column {
    text-align: right;
}